/* mood.css */

body {
  background-color: #ddeaff;
  animation-name: pulse;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  /*overflow-x: hidden;*/
}

@keyframes pulse {
  74.99%   {background-color: #ddeaff}
  75%  {background-color: #d3e4ff}
  87.5%  {background-color: #ddeaff}
  100%  {background-color: #d3e4ff}
}

img {
  max-width: 80%;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.flex-item {
  display: block;
  margin: 5% 0 5% 0;
}

#flex-item-1 {
  padding: 0 0 0 10%;
}

#flex-item-2 {
  padding: 0 0 0 1%;
}

#flex-item-3 {
  padding: 0 0 0 52%;
}

#flex-item-4 {
  padding: 0 0 0 24%;
}

#flex-item-5 {
  padding: 0 0 0 5%;
}
